extend layout
block pageCfg
	- header.menu = 'index';
	- header.ngApp = 'test';
	
block container


	style.
		small .btn{
			margin-left:15px;
		}
		.close{
			position: absolute;
			right: -8px;
			top: 5px;
		}

	div.container
		.pages-list
			.row
				.col-md-12
					.wrapper
						h2 数据编辑
						
						form.form-horizontal(role="form")
							div(ng-controller="banner")
								h4 Banner
									small
										button.btn.btn-default.btn-xs(type="button", ng-click="addRow()")
											span.glyphicon.glyphicon-plus
											|  加一行
										button.btn.btn-default.btn-xs(type="button")
											span.glyphicon.glyphicon-log-in
											|  数据导入
									
								.row
									.col-md-4
										p.form-control-static 图片地址
									.col-md-4
										p.form-control-static 标题
									.col-md-4
										p.form-control-static 链接地址
								.form-group(ng-repeat="item in itemList")
									.col-md-4
										input.form-control(type="text",
                                        ="item.img" required)
									.col-md-4
										input.form-control(type="text", ng-model="item.text")
									.col-md-4
										input.form-control(type="text", ng-model="item.link")
										button.close(type="button", ng-click="removeRow(item)")
											span(aria-hidden="true") &times;
											span.sr-only Close									
										
	script.
		var ngPageMod = angular.module('test', []);
		
		ngPageMod.controller('banner', ['$scope', function($scope){
			var blankData = {
				'text': '',
				'img': '',
				'link': ''
			};
			$scope.itemList = [KISSY.clone(blankData)];
			
			$scope.addRow = function(){
				$scope.itemList.push(KISSY.clone(blankData));
			};
			$scope.removeRow = function(item){
				if($scope.itemList.length > 1){
					var index = $scope.itemList.indexOf(item);
					$scope.itemList.splice(index, 1);				
				}else{
					alert('请至少保留一行~');
				}
			};
			
		}]);
