.table{
	background: rgba(255, 255, 255, 0.4);
	margin-bottom: 0;
}
.table tbody tr:nth-child(odd){
	background: rgba(249, 249, 249, 0.45);
}
.table tbody tr:hover{
	background: rgba(249, 249, 249, 0.6);
}
.table .btn,
.table .btn-group{
	margin-right:10px;
}
.table .btn-group .btn{
	margin-right:0px;
}
.table .title{
	color: #333;
	display:block;
	width:100%;
	height:100%;
	max-width: 180px;
}
.table .title:hover{
	color: #428bca;
}

.top-pagination{
	position:relative;
}
.top-pagination nav{
	position:absolute;
	right: 5px;
	top:4px;
}

